//
@import "~buefy/dist/buefy.min.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

.wrapWord{
	word-wrap: break-word !important;
}
.sizeKamar{
	width: 20px !important;
}
.sizeKeterangan{
	width: 100px !important;
}
.sizeWaktu{
	width: 82px !important;
}
.sizePetugas{
	width: 240px !important;
}